@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #209494 3px solid;
}

.carousel-item {
  height: 450px;
}

.overlay {
  background-color: #0a2e49;
  opacity: 0.65;
  height: 450px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1; /* To place above the image */
}
.carousel-image-1 {
  background: url('../img/ecom1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-image-2 {
  background: url('../img/ecom2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-image-3 {
  background: url('../img/ecom3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.display-3,
.btn,
.lead {
  z-index: 2;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/ecom5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/ecom5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

@media (max-width: 500px) {
  #hide {
    display: none;
  }
}
