<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col col-lg-6">
      <div class="text-center">
        <h1 [hidden]="isCross" class="uppercase text-danger">
          Player One Turn
        </h1>
        <h1 [hidden]="!isCross" class="uppercase text-danger">
          Player Two turn
        </h1>
      </div>

      <div class="grid">
        <div *ngFor="let item of itemArray; index as i">
          <div class="card">
            <div class="card-box box" (click)="handleClick(i)">
              <app-icon [iconName]="item"></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-lg-6 text-center" *ngIf="winMessage">
      <h1 class="">
        Game Over
        {{ winMessage }}
      </h1>
      <a
        (click)="reloadGame()"
        class="btn btn-warning btn-lg text-uppercase px-5"
        >Reaload Game</a
      >
    </div>
  </div>
</div>
