<div class="container w-50 mt-5 text-center">
  <div class="m-5 text-white font-weight-bold display-3">
    Word Limit : {{ limit }}
  </div>

  <input
    type="range"
    min="1"
    max="100"
    value="{{ limit }}"
    class="slider form-control-range"
    (change)="handleSlideChange($event.target.value)"
  />

  <a
    href="#"
    (click)="generate()"
    class="btn btn-info btn-lg my-5 font-weight-bold"
    >Generate Words</a
  >

  <div *ngIf="words" class="card card-body">
    <p class="lead">{{ words }}</p>
  </div>
</div>
