.card {
  display: flex;
  flex-direction: column;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.card .card-body {
  padding: 30px;
}
.card .card-body h1 {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: slateblue;
  color: #fff;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-bottom: 5px #fff solid;
}

/*# sourceMappingURL=/app.581aa3f0.css.map */