<footer class="container-fluid bg-dark fixed-bottom">
  <div class="row p-2">
    <div class="col-md-4 text-center text-white">
      Ashutosh4336
    </div>

    <div class="col-md-8 text-center text-white">
      Copy Right @ashutosh4336
    </div>
  </div>
</footer>
