@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

:root {
  --success-color: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3b5998;
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-color: #a8a8a8;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(41, 40, 40);
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-radius: 5px solid;
  border-color: #ce4030;
}

.form-control small {
  color: #ce4030;
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: none; */
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: 2px solid #3498db;
  border-radius: 4px;
  display: block;
  font-size: 1.3rem;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form button:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
