<!--
<div class="form-group">
  <label>Server Name</label>
   <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
  /> 
  <input type="text" class="form-control" [(ngModel)]="serverName" />
</div>
<button
  class="btn btn-primary btn-block"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  clickMe
</button>
-->
<!-- <div class="bg-warning text-center" id="stringinter"> -->
<!-- <p class="h1">server works!</p> -->
<!-- <p [innerText]="allowNewServer.toString().toUpperCase()"></p> -->
<!-- <p class="lead">
    {{ allowNewServer.toString().toUpperCase() }} {{ printSen() }}
  </p> -->

<!-- <p>{{ serverCreationStatus }}</p>
  <p class="h3">
    The server Id is {{ serverID }} which is {{ getServerStatus() }}
  </p>
</div> -->
<!-- </div> -->
<!-- ----------------------------------------------------------------------------- -->

<div class="conatiner">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>
          Add a Input Field Which Updates ('Username') vio Two-Way-Data-Binding
        </li>
        <li>
          Output the username property via String Interpolation (in a Paragraph
          Below the Input)
        </li>
        <li>
          Add a Button Which is may only be Clicked if the username is NOT Null
        </li>
        <li>
          Upon Click the Button username should be reset to an Emergeny String
        </li>
      </ol>

      <hr />

      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          [(ngModel)]="username"
        />
        <br />
        <button class="btn btn-primary btn-block" (click)="addUserName()">
          Add Name
        </button>
      </div>
      <hr />
      <div
        class="text-center"
        style="
          height: 100px;
          position: relative;
          border: 1px solid #3e3e3e;
          margin-bottom: 10px;
          padding: 20px;
        "
      >
        <p class="lead startNotVisible">
          User Name is :
          <span *ngIf="userNameAdd; else noUser">{{ username }}</span>
        </p>
        <ng-template #noUser>
          <p [ngStyle]="{ backgroundColor: 'yellow' }">No User Exist</p>
        </ng-template>
      </div>
      <div>
        <button
          href="#"
          class="btn btn-danger btn-block"
          [disabled]="username === ''"
          (click)="username = ''"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
