.form {
  display: flex;
}

.form {
  /* margin-top: 5px; */
  margin: 5px;
  margin-bottom: 10px;
}

.form input[type="text"] {
  border: 2px solid #000;
  flex: 10;
  padding: 5px;
}

.form input[type="submit"] {
  flex: 2;
}
