<ng-container>
  <app-header></app-header>

  <main class="main-body">
    <app-post-create></app-post-create>
    <app-output-post></app-output-post>
  </main>

  <router-outlet></router-outlet>
</ng-container>
