<nav
  class="navbar navbar-expand-lg navbar-dark bg-secondary text-white cu-color"
>
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      src="../../../assets/img.png"
      width="30"
      height="30"
      class="ml-5 mr-2 d-inline-block align-top"
      alt=""
    />
    Vinove
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto mx-5">
      <!-- if the user is present then printing email -->
      <div *ngIf="email" class="navbar-text float-left">
        {{ email }}
      </div>
      <a [routerLink]="['/']" class="nav-item nav-link text-white mr-2">Home</a>

      <!-- conditionally rendering links  -->
      <a
        *ngIf="!email"
        [routerLink]="['/signin']"
        routerLinkActive="active"
        class="nav-item nav-link mr-2 text-white"
        >Sign In</a
      >
      <a
        *ngIf="!email"
        [routerLink]="['/signup']"
        routerLinkActive="active"
        class="nav-item nav-link mr-2 text-white"
        >Sign Up</a
      >

      <a
        *ngIf="email"
        (click)="handleSignOut()"
        class="nav-item nav-link mr-2 text-white cursor-pointer"
        >Log Out</a
      >

      <a
        *ngIf="email"
        [routerLink]="['/addpost']"
        routerLinkActive="active"
        class="text-white nav-item nav-link btn btn-info px-3"
      >
        Post Your Story</a
      >
    </div>
  </div>
</nav>
