@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem; /* 1 rem = 16px */
  overflow-x: hidden;
}

/* Utility Class */
p {
  margin: 0.75rem 0;
}

a {
  text-decoration: none;
}

/*  Navbar */
#navbar {
  display: flex;
  /* position: sticky; */
  top: 0;
  background: #0ba9f9;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #3e3e3e;
  color: #fff;
  border-radius: 5px;
}

.text-primary {
  color: #333;
}

#showcase {
  background-image: url('../img/beach-dawn.jpg');
  background-size: cover;
  background-position: center;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  color: rgb(228, 228, 228);
  position: relative;
}

.overlay {
  background-color: #324e64;
  opacity: 0.65;
  height: 93vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1; /* To place above the image */
}

#showcase h1,
p,
a {
  z-index: 2;
}

#showcase h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

#showcase p {
  font-size: 20px;
  margin-top: 1rem;
}

#showcase .button {
  font-size: 20px;
  padding: 10px 20px;

  background-color: #3571a1;
  color: #fff;
  border: #3571a1 2px solid;
  border-radius: 10px;
  margin-top: 1.5rem;
}

#showcase .button:hover {
  background-color: #324e64;
  color: #fff;
  border: 2px solid #fff;
}

/* Services Section */

.padding-y-1 {
  padding: 1.5rem 0;
}

/* Flexing Items */

#services .items {
  display: flex;
  padding: 1rem;
}
/* items centered */
#services .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

/* Icon Styling */

#services .items .item i {
  font-size: 2rem;
  background: #444;
  color: #fff;
  padding: 1rem;
  border-radius: 49%;
  margin-bottom: 1rem;
}
#services .items .item i:hover {
  background-color: #0ba9f9;
  color: #fff;
}

/* Contact Us Section */

#container {
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}

.form-wrap {
  background: #f1f1f1;
  padding: 15px 25px;
  color: #444;
  /* border: #000 1px solid; */
  border-radius: 10px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #444;
  /* padding-left: 1rem; */
}

.form-wrap .form-group input,
.form-wrap .form-group select {
  padding: 10px;
  width: 100%;
  margin-right: 100px;
  border: #0ba9f9 1px solid;
  border-radius: 5px;
}
.radio-type {
  margin: 20px 0;
  /* padding: 20px; */
}

.form-wrap button {
  display: inline-block;
  width: 45%;
  padding: 10px;
  margin: 20px 12px;
  background-color: #3e3e3e;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
}

.form-wrap button:hover {
  background-color: #171318;
}

#main-footer {
  margin-top: 2rem;
  height: 50px;
  padding: 30px;
  background-color: #002233;
  color: #0ba9f9;
  text-align: center;
  margin-top: 10px;
}
#main-footer .foot-text a {
  color: #0975aa;
  font-size: 1.2rem;
}

@media (min-width: 500px) {
  #services {
    flex-wrap: wrap;
  }
  .btn {
    width: 100%;
  }
}
