@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #4c6ca0;
}
nav ul li {
  list-style: none;
}

.logo {
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #20447e;
  color: #fff;
  border-radius: 5px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #4c6ca0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translate(0%);
}
