<div class="container-fluid bg-success">
  <div class="row p-2">
    <div class="col-4 text-center text-white">
      Vinove Social
    </div>
    <div class="col-8 text-center text-white">
      Copy Right @ashutosh4336
    </div>
  </div>
</div>
