<div class="app container-fluid p-4">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <app-card [user]="user" *ngIf="user; else loadingBlock"></app-card>

        <ng-template #loadingBlock>
          <div class="text-center">
            <div
              role="status"
              class="h1 spinner-border spinner-grow-sm text-white"
            ></div>
            <div class="h1 text-white">
              Loading...
            </div>
          </div>
        </ng-template>

        <a (click)="ngOnInit()" class="btn btn-warning d-block mt-5">
          New Member
        </a>
      </div>
    </div>
  </div>
</div>
