<div class="container">
  <form
    class="form-inline mt-4 d-flex justify-content-center"
    (ngSubmit)="handleFindUser()"
  >
    <div class="form-group">
      <label for="userName">User Name</label>
      <input
        [(ngModel)]="userName"
        type="text"
        id="userName"
        class="form-control mx-sm-3"
        name="userName"
      />
      <button type="submit" class="btn btn-primary mb-2">Find User</button>
    </div>
  </form>
  <hr />

  <!-- To render Error -->
  <div *ngIf="Error" class="alert alert-danger m-5">
    {{ Error }}
  </div>
  <div *ngIf="user" class="row mt-3">
    <div class="col col-md-4">
      <app-user-card [user]="user"></app-user-card>
    </div>
    <div class="col col-md-8">
      <app-repos [repoUrl]="user.repos_url"></app-repos>
    </div>
  </div>
</div>
