* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  /* margin: 0;
  padding: 0; */
  background-color: #333;
  overflow: auto;
}
.navbar li {
  float: right;
  list-style: none;
}

.navbar li a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.navbar li a:hover {
  background-color: rgb(172, 172, 172);
  color: #000;
}

/* .navbar li:last-child {
  background-color: rgb(172, 172, 172);
  color: #000;
} */
