@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');
:root {
  --max-width: 1100px;
}
* {
  border-radius: 0 !important;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif !important;
}

.nava {
  color: #1f4e66;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
}
#logo-image {
  margin-top: 1%;
  margin-bottom: 2%;
}

#right-f {
  float: right;
  text-decoration: none;
}

#main-nav {
  background-color: #1f4e66;
  color: #fff;
}
.nav-link {
  color: #fff !important;
}
#btn-k {
  color: #fff;
  background-color: rgb(207, 15, 15);
  margin-top: -30px;
  margin-bottom: -15px;
  font-size: 40px;
  padding: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: lighter;
}

#row-top {
  margin-top: 1%;
}

.border-bot {
  background-color: red;
  height: 3px;
  width: 100%;
}

.images-carousel {
  width: 100%;
}

.img-thumbnail {
  background-color: #f8f8f8;
  border: 1px solid #ededed;
}

.text-danger {
  color: #e74c3c;
}

.collage-images-1 {
  width: 100%;
  height: 81%;
}
.collage-images-2 {
  width: 100%;
  height: 38%;
}
.collage-images-3 {
  width: 100%;
  height: 38%;
}
.main-title-outer {
  border-bottom: 1px solid #ededed;
  width: 100%;
  margin-bottom: 10px;
}

.main-title {
  border-left: solid 2px #e74c3c;
  position: relative;
  z-index: 1;
  background-color: #e74c3c;
  float: left;
  margin: 0 5px;
  text-align: center;
  border-bottom: none;
  padding: 0 10px 0 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  height: 36px;
  line-height: 36px;
}

.main-title:before {
  content: '';
  display: block;
  position: absolute;
  left: -8px;
  border-left: solid 4px #e74c3c;
  width: auto;
  margin-top: 0;
  min-height: 100%;
  z-index: 10;
}
.famous-art {
  font-size: 17px;
  color: #1f4e66;
  font-weight: bolder;
}

.famous-art-desc {
  color: gray;
  font-size: 13px;
}

.heading-link-text {
  color: #e74c3c;
  font-size: 10px;
}

.heading-color-text {
  font-size: 12.5px;
  color: #1f4e66;
  font-weight: bolder;
}

#business-vid {
  width: 100%;
}

.second-heading-text {
  font-size: 17px;
  color: #1f4e66;
  font-weight: bolder;
}
.second-card-text {
  color: #e74c3c;
  font-size: 15px;
}

.date-text {
  color: #e74c3c;
  font-size: 13px;
}

.desc-text-1 {
  color: gray;
  font-size: 13px;
}

.text-kuchv {
  font-size: 13px;
  color: #1f4e66;
  font-weight: bolder;
}

#iframe-video {
  height: 100%;
  width: 100%;
}

#sponserad {
  padding: 1.5%;
  border: solid rgb(202, 202, 202) 1px;
}

#sponsor-inner {
  background-color: #1f4e66;
  color: white;
}

.social-icon-top {
  color: #1f4e66;
}

#col-3-text {
  background-color: #e74c3c;
  border-right: solid white 1px;
}

.col-3-all-text {
  color: white;
  font-weight: bolder;
  margin-top: 15px;
  padding-right: 10px;
}

.col-head-down-text {
  font-size: 15px;
  color: #1f4e66;
  font-weight: bolder;
}

#recent-text {
  background-color: #1f4e66;
  border-right: solid white 1px;
}

.comment-text {
  background-color: #1f4e66;
}
