<div class="container text-center">
  <h1 class="text-secondary text-center m-5">
    You Seems to be Lost !!!
  </h1>
  <br />
  <a [routerLink]="['/']" class="btn btn-warning btn-lg mb-5">Home</a>
  <br />
  <img src="../../../assets/404.svg" height="350" width="auto" alt="" />
</div>
