<div class="card user-card">
  <div class="img background rounded-circle">
    <img
      class="img-fluid rounded-circle profile-pic border-2 border-secondary img-thumbnail"
      [src]="user.avatar_url"
      alt=""
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">
      {{ user.name }}
    </h5>
    <p class="card-text">Bio : {{ user.bio }}</p>
    <p class="card-text">Company : {{ user.company }}</p>
    <p class="card-text">Twitter : @{{ user.twitter_username }}</p>
    <p class="card-text">Blog : {{ user.blog }}</p>
    <p class="card-text">Update At : {{ user.updated_at | date: "short" }}</p>
  </div>
</div>
