@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

#showcase {
  background-image: url('./beach.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  color: rgb(228, 228, 228);
  position: relative;
}

.overlay {
  background-color: #324e64;
  opacity: 0.65;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

#showcase h1,
p,
a {
  z-index: 2;
}

#showcase h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

#showcase p {
  font-size: 20px;
}

#showcase .button {
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #3571a1;
  color: #fff;
  border: #3571a1 2px solid;
  border-radius: 10px;
  margin-top: 1.5rem;
}

#showcase .button:hover {
  background-color: #324e64;
  color: #fff;
  border: 2px solid #fff;
}

.section-a {
  padding: 20px;
  background: #2472b3;
  color: #fff;
  text-align: center;
}

.section-b {
  padding: 20px;
  background: #cecece;
  color: rgb(0, 0, 0);
  text-align: center;
}

.section-c {
  display: flex;
}
.section-c div {
  padding: 30px;
}
.section-c .box-1,
.section-c .box-3 {
  background-color: #2472b3;
  color: #fff;
}

@media (max-width: 500px) {
  .section-c {
    flex-wrap: wrap;
  }
}
