<style>
    .dashboard-table-body {
        background-color: #fff;
    }
</style>
<div class="dashboard-table-body">


    <h6>Dashboard</h6>
    <h3>Welcome {{name}}</h3>
    <p class="lead">Here are Your Stories</p>

    {{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
            <tr>
                <td><a href="/stories/{{_id}}"></a>{{title}}</td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{else}}
    <p>You haven't Created any stories</p>
    {{/if}}

</div>