<div class="login-page">

    <h3>
        <i class="fas fa-book-reader"></i> StroryBooks
    </h3>
    <div class="section">
        <p class="lead">
            Create Public and Private Stories from Your Life
        </p>
    </div>

    <div class="divider"></div>

    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Login with Google
        </a>
    </div>
</div>