<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>

    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warning">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button color="primary" class="w-100" (click)="ngOnInit()">
  Get all New Post
</button>

<p *ngIf="posts.length <= 0" class="info-text mat-body-1">
  No Stories, Share Your Story...
</p>
