:host {
  display: block;
  margin-top: 4rem;
}

.m-2 {
  display: block;
  margin-bottom: 0.8rem;
}
.info-text {
  text-align: center;
  font-size: 1.6rem;
}

.w-100 {
  margin-top: 1.2rem;
  width: 100% !important;
  min-width: unset !important;
}
