@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #3b5998;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 10px 10px 10px 0px rgba(26, 60, 133, 0.9);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 25px;
  font-size: 1.5rem;
  font-weight: lighter;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}
.form-control input {
  border: 2px solid #b6b5b5;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(105, 104, 104);
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #c83737;
}

.form-control small {
  color: #b31c1c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #556a97;
  border: 2px solid #556a97;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  display: block;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form button:hover {
  background-color: #305094;
}
