.flex-box-sec {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px;
  border: 3px #3e3e3e solid;
  border-radius: 10px;
}

.box {
  text-align: center;
  margin: 15px 0;
  border: 2px #000 solid;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  line-height: 2em;
}
/*
.box-1 {
  flex: 1;
}
.box-2 {
  flex: 1;
} */

h1 {
  padding: 20px 5px;
  font-size: 2em;
}

p {
  font-size: 1.5em;
  /* font-weight: bold; */
  /* font-weight: 20px; */
}
