<!-- <div></div> -->
<section class="flex-box-sec">
  <div class="box box-1">
    <h1>Angular Component One</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="box box-2">
    <h1>Angular Component Two</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <card-item class="box box-3"></card-item>
</section>
