/* .box {
  border: 2px #000 solid;
  border-radius: 10px;
  padding: 20px;
  width: 48%;
} */

h1 {
  padding: 20px 5px;
  font-size: 2em;
}

p {
  font-size: 1.5em;
  /* font-weight: bold; */
  /* font-weight: 20px; */
}
