<div class="box box-3">
  <h1>Third Component</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic perspiciatis
    pariatur eligendi sit voluptate dolorum, amet iste saepe temporibus. Labore.
  </p>
</div>
