<div>
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem velit, tempore
    nisi provident numquam quibusdam repellendus modi optio quos aliquid autem
    quam temporibus ipsa! Animi vel voluptas quas modi dignissimos.
  </p>
</div>
