<h3>Add Story</h3>
<div class="row">
    <form action="/stories/add" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>

                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell us Your Story</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>
        <div class="row">
            <input class="btn" type="submit" value="save">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>