@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

/* Sidebar Styles */

#sidebar {
  z-index: 2;
  position: fixed;
  left: 250px;
  width: 10vw;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474f;
}
.sidebar-item {
  display: block;
  width: 100%;
  padding: 20px;
}
#sidebar header {
  background-color: #343a40;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
}
#sidebar .nav {
  list-style: none;
}
#sidebar .nav a {
  border-bottom: 2px dashed #455a64;
  color: #cfd8dc;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a i {
  margin-right: 16px;
}

/*End*/

.box-sha {
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.5) !important;
  transform: translatey(-4px);
}

.box-sha:hover {
  background-color: #777 !important;
  box-shadow: 8px 12px 12px 0px rgba(0, 0, 0, 0.8) !important;
  transition: all 0.5s !important;
}
