<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/todo.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6 mt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="../assets/laptopphone.png" class="img-fluid my-5" alt="" />
          <h3>Apple Laptop</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequatur asperiores dolorem cum, assumenda consequuntur animi
            soluta praesentium est porro facere, quis impedit dolore commodi,
            atque architecto magnam placeat a vero.
          </p>
        </div>
        <div class="col-md-6 mt-5">
          <div class="ml-5 mt-5">
            <h2>INR 400</h2>
            <a href="" class="btn btn-primary btn-lg">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
