/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import "~ngx-toastr/toastr";

/* reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(./assets/background.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  background-color: crimson;
  height: 100vh;
  overflow: hidden;
  /* background-repeat: no-repeat; */
  font-family: "Ubuntu", sans-serif;
}
