<div class="container">
    <h1>Sorry, Somrthing Went Wrong !!!</h1>
    {{!-- <p class="lead">The resource you're looking for is'nt Found</p> --}}
    <a href="/dashboard" class="btn">Go to dashboard</a>
</div>