@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.35rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #ddd;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #095079;
  z-index: 1;
  opacity: 0.55;
}

.header-content {
  z-index: 2;
  /* color: rgb(36, 32, 32); */
  color: #fff;
}
.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background: #34b3a0;
  /* color: rgb(36, 32, 32); */
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.btn:hover {
  background: #1a8172;
  color: rgb(0, 0, 0);
}
.section {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 20px 0;
}

.section-a {
  background: #eee;
}

.section-b {
  background: #333;
  color: #fff;
}

@media (min-width: 500px) {
  .container {
    padding-right: 3rem;
    padding-left: 1.5rem;
  }
}
