<nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold">
  <a class="navbar-brand mx-5" [routerLink]="['/signin']">
    <img src="../../../assets/img.png" width="30" height="30" alt="" />
    gitFinder
  </a>

  <div class="navbar-collapse mx-5">
    <div class="navbar-nav ml-auto">
      <div *ngIf="email" class="navbar-text float-left">
        {{ email }}
      </div>

      <a *ngIf="email" class="nav-item nav-link text-white" [routerLink]="['/']"
        >Home</a
      >
      <a
        *ngIf="!email"
        class="nav-item nav-link text-white ml-2"
        [routerLink]="['/signin']"
        routerLinkActive="active-page"
        >signIn
      </a>
      <a
        *ngIf="!email"
        class="nav-item nav-link text-white ml-2"
        [routerLink]="['/signup']"
        routerLinkActive="active-page"
        >signUp
      </a>

      <a
        *ngIf="email"
        class="nav-item nav-link text-white ml-2 point-cur"
        (click)="handleSignOut()"
        >logout
      </a>
    </div>
  </div>
</nav>
