/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif !important; */
}

html,
body {
  /* font-weight: bosld; */
  height: 100%;
}
