<div class="card shadow-lg rounded">
  <div class="card-body text-center">
    <img
      width="150"
      height="150"
      class="rounded-circle img-thumbnail border-danger"
      [src]="user.picture?.large"
      alt=""
    />

    <div class="card-title text-primary">
      <h1>
        <span class="px-2">{{ user.name?.title }}.</span>
        <span class="px-2">{{ user.name?.first }}</span>
        <span class="px-2">{{ user.name?.last }}</span>
      </h1>
    </div>

    <div class="card-text lead text-dark mt-3">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      {{ user.email }}
    </div>

    <div class="card-text lead text-dark mt-3">
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      {{ user.location?.city }}, {{ user.location?.state }},
      {{ user.location?.street?.number }}
    </div>
  </div>
</div>
