@import url('https://fonts.googleapis.com/css?family=Merriweather|Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu';
  /* font-family: 'Merriweather'; */
  background-color: #f7df1d;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* min-width: 100vh; */
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock::after {
  content: '';
  position: absolute;
  background-color: #fff;
  z-index: 999;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /* width: 10px;
  height: 40%; */
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.second {
  border: none;
  width: 3px;
  height: 39%;
  background-color: red;
}

.clock .hand.minute {
  --rotation: 60;
  width: 6px;
  height: 38%;
  background-color: #fff;
  transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.hour {
  --rotation: 90;
  width: 9px;
  height: 33%;
  background-color: #fff;
  transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}
