<div class="mt-5">
  <ul class="list-group w-100 mt-1" *ngFor="let todo of todos">
    <li class="list-group-item d-flex justify-content-between w-100">
      <span>
        <input
          (change)="changeTodoStatus(todo)"
          type="checkbox"
          class="pointer-cur"
          [checked]="todo.isCompleted"
        />
      </span>
      <span [ngClass]="{ completedTodo: todo.isCompleted }">
        {{ todo.title | titlecase }}
      </span>
      <span [ngClass]="{ completedTodo: todo.isCompleted }">
        {{ todo.date | date }}
      </span>
      <span>
        <fa-icon
          [icon]="faTrashAlt"
          (click)="deleteTodo(todo)"
          class="text-info font-weight-bolder pointer-cur"
        ></fa-icon>
        <!-- <p (click)="deleteATodo(todo)" class="text-danger font-weight-bolder">
        X
      </p> -->
      </span>
    </li>
  </ul>
</div>
