@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #92bde7;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Libre Baskerville', serif;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: #fff;
}

.wrapper {
  border: #485e74 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
  padding: 1em;
}

.company-info {
  border: 1px;
  border-radius: 5px;
  background: #c9e6ff;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

/* Form Style */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.conatct form label {
  display: block;
}

.conatct form p {
  margin: 0;
}

.conatct form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 2px solid #c9e6ff;
}

.contact .btn {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.contact .btn:hover,
.contact .btn:focus {
  background: #447199;
  color: #eee;
  outline: 0;
  transition: background-color 1.5s ease-out;
}

/* Large Screen */
/* Media Query */

@media (min-width: 700px) {
  body {
    display: none;
  }
}
