/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

/* /home/ashutosh/development/vinove101/angular/word-generator/node_modules/bootstrap/dist/css/bootstrap.min.css */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  position: relative;
  width: 100%;
  background-image: url(./assets/bgc.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* overflow: hidden; */
}
