<ng-container>
  <app-header></app-header>

  <div class="container mt-5">
    <div class="row">
      <div class="com-sm-12 col-md-7">
        <img src="../assets/todo.png" class="img-fluid" alt="" />
      </div>
      <div class="com-sm-12 col-md-5 mt-5">
        <div class="mt-5">
          <app-todo-form></app-todo-form>
          <app-todos></app-todos>
        </div>
      </div>
    </div>
  </div>
</ng-container>
