<div class="container signup-card">
  <div class="card bg-info rounded-border text-white mt-5 cust-w">
    <h5 class="card-header text-center h2">
      <!-- <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" /> -->

      <fa-icon [icon]="faWheelchair" class="text-white mr-2"></fa-icon>
      Vinove Signup Form
    </h5>

    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{
                'is-invalid': submitted && filedHelper.firstName.errors
              }"
            />
            <div
              *ngIf="submitted && filedHelper.firstName.errors"
              class="errmsg"
            >
              <small>
                First Name is required
              </small>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              formControlName="lastName"
              [ngClass]="{
                'is-invalid': submitted && filedHelper.lastName.errors
              }"
              type="text"
              class="form-control"
            />
            <div
              *ngIf="submitted && filedHelper.lastName.errors"
              class="errmsg"
            >
              <small>
                Last Name is required
              </small>
            </div>
          </div>
        </div>
        <div class="form-group mb-4">
          <label>Email</label>
          <input
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && filedHelper.email.errors
            }"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="filedHelper.email.touched && filedHelper.email.errors"
            class="errmsg"
          >
            <small *ngIf="filedHelper.email.errors.required" class="mr-2"
              >Email is required.
            </small>
            <small *ngIf="filedHelper.email.errors.email">
              Email must be a valid email address
            </small>
          </div>
        </div>

        <!-- <ng-container>
          <small class="errmsg d-block">
            Value is required.
          </small>
        </ng-container> -->

        <div class="row mb-4">
          <div class="form-group col-6">
            <label>Password</label>
            <input
              formControlName="password"
              [ngClass]="{
                'is-invalid': submitted && filedHelper.password.errors
              }"
              type="password"
              class="form-control"
            />
            <div
              *ngIf="
                filedHelper.password.touched && filedHelper.password.errors
              "
              class="errmsg"
            >
              <small *ngIf="filedHelper.password.errors.required" class="mr-2"
                >Password is required.
              </small>
              <small *ngIf="filedHelper.password.errors.minLength">
                Password must be at least 6 characters
              </small>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Confirm Password</label>
            <input
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && filedHelper.confirmPassword.errors
              }"
              type="password"
              class="form-control"
            />
            <div
              *ngIf="
                filedHelper.confirmPassword.touched &&
                filedHelper.confirmPassword.errors
              "
              class="errmsg"
            >
              <small *ngIf="filedHelper.confirmPassword.errors.required">
                Confirm Password is required.
              </small>
              <small>
                Passwords must match
              </small>
            </div>
          </div>
        </div>
        <span class="form-group form-check mt-2">
          <input
            formControlName="acceptTC"
            [ngClass]="{
              'is-invalid': submitted && filedHelper.acceptTC.errors
            }"
            type="checkbox"
            id="acceptTerms"
            class="form-check-input"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <!-- <br />
          <small class="errmsg">
            Accept Ts & Cs is required
          </small> -->
        </span>
        <div class="text-center my-3">
          <button class="btn btn-dark btn-block">
            Register
          </button>
          <button
            class="btn btn-danger btn-block mb-2"
            type="reset"
            (click)="onReset()"
          >
            Reset
          </button>
          <!-- <small class="errmsg d-block">
            Value: {{ registerForm.value | json }}
          </small>
          <small class="errmsg">Value: {{ registerForm.valid | json }}</small> -->
        </div>
      </form>
    </div>
  </div>
</div>
