<nav class="navbar navbar-dark bg-primary">
  <a href="">
    <img
      src="../../../assets/img.png"
      class="img-fluid mx-5"
      width="30"
      height="30"
      alt=""
    />
  </a>
  <span class="navbar-text text-white font-weight-bold mx-5">
    {{ "Vinove Assessment" | titlecase }}
  </span>
</nav>
