<mat-card>
  <form (submit)="handleClick(f)" #f="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        id="input-post"
        name="title"
        ngModel
        placeholder="Title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please Enter a Valid Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="8"
        name="content"
        ngModel
        placeholder="What is in Your Mind"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please Enter Valid Content</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" class="w-100" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
